apiVersion: apps/v1
kind: Deployment
metadata:
  name: application-service
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: application-service
  template:
    metadata:
      labels:
        app: application-service
    spec:
      imagePullSecrets:
      - name: ghcr-secret
      containers:
      - name: application-service
        image: ghcr.io/erfanalizada/talentlink-application-service:5c046b9ec969ecab8cd64fa25f20f7c5b2b60962
        ports:
        - containerPort: 5002
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: applicationdb-secret
              key: DATABASE_URL
              optional: true
        - name: RABBITMQ_URL
          value: "amqp://guest:guest@rabbitmq:5672"
        - name: KEYCLOAK_URL
          value: "https://talentlink-erfan.nl/auth"
        - name: KEYCLOAK_REALM
          value: "talentlink"
        - name: PORT
          value: "5002"
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        readinessProbe:
          httpGet:
            path: /api/applications/health
            port: 5002
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /api/applications/health
            port: 5002
          initialDelaySeconds: 30
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: application-service
  namespace: default
spec:
  selector:
    app: application-service
  ports:
  - port: 5000
    targetPort: 5002
  type: ClusterIP
