apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: frontend
  namespace: argocd
  annotations:
    # FIXED: Update image reference for ArgoCD Image Updater
    argocd-image-updater.argoproj.io/image-list: frontend=ghcr.io/erfanalizada/frontend
    argocd-image-updater.argoproj.io/frontend.pull-secret: pullsecret:argocd/ghcr-creds
    argocd-image-updater.argoproj.io/write-back-method: git
    argocd-image-updater.argoproj.io/git-branch: main
spec:
  project: default
  source:
    repoURL: https://github.com/erfanalizada/talentlink.git
    targetRevision: main
    path: k8s/frontend
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
