name: Build and Push Images (GitOps)

on:
  push:
    branches: [main]

permissions:
  contents: write
  packages: write

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      auth: ${{ steps.filter.outputs.auth }}
      user: ${{ steps.filter.outputs.user }}
      job: ${{ steps.filter.outputs.job }}
      notif: ${{ steps.filter.outputs.notif }}
      frontend: ${{ steps.filter.outputs.frontend }}
    steps:
      - uses: actions/checkout@v4

      - name: Detect changed services
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            auth:
              - "backend/auth-service/**"
            user:
              - "backend/user-service/**"
            job:
              - "backend/job-service/**"
            notif:
              - "backend/notification-service/**"
            frontend:
              - "frontend/**"
              - "k8s/frontend/**"

  # ---------------------------------------
  # AUTH SERVICE
  # ---------------------------------------
  build-auth:
    needs: detect-changes
    if: needs.detect-changes.outputs.auth == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Login GHCR
        run: echo "${{ secrets.GHCR_TOKEN }}" |
          docker login ghcr.io -u "${{ secrets.GHCR_USERNAME }}" --password-stdin

      - name: Build & Push auth-service
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --build-context shared=./backend/shared \
            -t ghcr.io/${{ secrets.GHCR_USERNAME }}/auth-service:${{ github.sha }} \
            -t ghcr.io/${{ secrets.GHCR_USERNAME }}/auth-service:latest \
            ./backend/auth-service \
            --push

      - name: Update auth manifest (GitOps)
        run: |
          sed -i "s|image: ghcr.io.*/auth-service:.*|image: ghcr.io/${{ secrets.GHCR_USERNAME }}/auth-service:${{ github.sha }}|" k8s/backend/auth/deployment.yaml

      - name: Commit updated manifest
        run: |
          git config user.email "ci@github"
          git config user.name "GitHub Actions"
          git add k8s/backend/auth/deployment.yaml
          git commit -m "Update auth-service image to ${{ github.sha }}" || echo "No changes"
          git push

  # ---------------------------------------
  # USER SERVICE
  # ---------------------------------------
  build-user:
    needs: detect-changes
    if: needs.detect-changes.outputs.user == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Login GHCR
        run: echo "${{ secrets.GHCR_TOKEN }}" |
          docker login ghcr.io -u "${{ secrets.GHCR_USERNAME }}" --password-stdin

      - name: Build & Push user-service
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --build-context shared=./backend/shared \
            -t ghcr.io/${{ secrets.GHCR_USERNAME }}/user-service:${{ github.sha }} \
            -t ghcr.io/${{ secrets.GHCR_USERNAME }}/user-service:latest \
            ./backend/user-service \
            --push

      - name: Update user manifest
        run: |
          sed -i "s|image: ghcr.io.*/user-service:.*|image: ghcr.io/${{ secrets.GHCR_USERNAME }}/user-service:${{ github.sha }}|" k8s/backend/user/deployment.yaml

      - name: Commit
        run: |
          git config user.email "ci@github"
          git config user.name "GitHub Actions"
          git add k8s/backend/user/deployment.yaml
          git commit -m "Update user-service image to ${{ github.sha }}" || echo "No changes"
          git push

  # ---------------------------------------
  # JOB SERVICE
  # ---------------------------------------
  build-job:
    needs: detect-changes
    if: needs.detect-changes.outputs.job == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Login GHCR
        run: echo "${{ secrets.GHCR_TOKEN }}" |
          docker login ghcr.io -u "${{ secrets.GHCR_USERNAME }}" --password-stdin

      - name: Build & Push job-service
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --build-context shared=./backend/shared \
            -t ghcr.io/${{ secrets.GHCR_USERNAME }}/job-service:${{ github.sha }} \
            -t ghcr.io/${{ secrets.GHCR_USERNAME }}/job-service:latest \
            ./backend/job-service \
            --push

      - name: Update job manifest
        run: |
          sed -i "s|image: ghcr.io.*/job-service:.*|image: ghcr.io/${{ secrets.GHCR_USERNAME }}/job-service:${{ github.sha }}|" k8s/backend/job/deployment.yaml

      - name: Commit
        run: |
          git config user.email "ci@github"
          git config user.name "GitHub Actions"
          git add k8s/backend/job/deployment.yaml
          git commit -m "Update job-service image to ${{ github.sha }}" || echo "No changes"
          git push

  # ---------------------------------------
  # NOTIFICATION SERVICE
  # ---------------------------------------
  build-notif:
    needs: detect-changes
    if: needs.detect-changes.outputs.notif == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Login GHCR
        run: echo "${{ secrets.GHCR_TOKEN }}" |
          docker login ghcr.io -u "${{ secrets.GHCR_USERNAME }}" --password-stdin

      - name: Build & Push notification-service
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --build-context shared=./backend/shared \
            -t ghcr.io/${{ secrets.GHCR_USERNAME }}/notification-service:${{ github.sha }} \
            -t ghcr.io/${{ secrets.GHCR_USERNAME }}/notification-service:latest \
            ./backend/notification-service \
            --push

      - name: Update notification manifest
        run: |
          sed -i "s|image: ghcr.io.*/notification-service:.*|image: ghcr.io/${{ secrets.GHCR_USERNAME }}/notification-service:${{ github.sha }}|" k8s/backend/notification/deployment.yaml

      - name: Commit
        run: |
          git config user.email "ci@github"
          git config user.name "GitHub Actions"
          git add k8s/backend/notification/deployment.yaml
          git commit -m "Update notification-service image to ${{ github.sha }}" || echo "No changes"
          git push

  # ---------------------------------------
  # FRONTEND (AMD64 ONLY)
  # ---------------------------------------
  build-frontend:
    needs: detect-changes
    if: needs.detect-changes.outputs.frontend == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Login GHCR
        run: echo "${{ secrets.GHCR_TOKEN }}" |
          docker login ghcr.io -u "${{ secrets.GHCR_USERNAME }}" --password-stdin

      - name: Build & Push frontend (AMD64 only)
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t ghcr.io/${{ secrets.GHCR_USERNAME }}/talentlink-frontend:${{ github.sha }} \
            -t ghcr.io/${{ secrets.GHCR_USERNAME }}/talentlink-frontend:latest \
            ./frontend \
            --push

      - name: Update frontend manifest
        run: |
          sed -i "s|image: ghcr.io.*/talentlink-frontend:.*|image: ghcr.io/${{ secrets.GHCR_USERNAME }}/talentlink-frontend:${{ github.sha }}|" k8s/frontend/deployment.yaml

      - name: Commit
        run: |
          git config user.email "ci@github"
          git config user.name "GitHub Actions"
          git add k8s/frontend/deployment.yaml
          git commit -m "Update frontend image to ${{ github.sha }}" || echo "No changes"
          git push
