name: Build and Push Images

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Detect changes
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            auth:
              - 'backend/auth-service/**'
            user:
              - 'backend/user-service/**'
            job:
              - 'backend/job-service/**'
            notif:
              - 'backend/notification-service/**'
            frontend:
              - 'frontend/**'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

      # AUTH ------------------------------------------------------
      - name: Build Auth Service
        if: steps.filter.outputs.auth == 'true'
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t ghcr.io/${{ github.actor }}/auth-service:latest \
            ./backend/auth-service \
            --push

      # USER ------------------------------------------------------
      - name: Build User Service
        if: steps.filter.outputs.user == 'true'
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t ghcr.io/${{ github.actor }}/user-service:latest \
            ./backend/user-service \
            --push

      # JOB --------------------------------------------------------
      - name: Build Job Service
        if: steps.filter.outputs.job == 'true'
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t ghcr.io/${{ github.actor }}/job-service:latest \
            ./backend/job-service \
            --push

      # NOTIFICATION ----------------------------------------------
      - name: Build Notification Service
        if: steps.filter.outputs.notif == 'true'
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t ghcr.io/${{ github.actor }}/notification-service:latest \
            ./backend/notification-service \
            --push

      # FRONTEND --------------------------------------------------
      - name: Build Frontend
        if: steps.filter.outputs.frontend == 'true'
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t ghcr.io/${{ github.actor }}/talentlink-frontend:latest \
            ./frontend \
            --push
